/* Import all fonts used by ThemeForseen drawer */
/* Only importing weights that actually exist in each font package */

@import '@fontsource/inter/400.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

@import '@fontsource/geist/400.css';
@import '@fontsource/geist/500.css';
@import '@fontsource/geist/600.css';

@import '@fontsource/playfair-display/400.css';
@import '@fontsource/playfair-display/700.css';

@import '@fontsource/source-sans-pro/400.css';
@import '@fontsource/source-sans-pro/700.css';

@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/700.css';

@import '@fontsource/open-sans/400.css';
@import '@fontsource/open-sans/700.css';

@import '@fontsource/raleway/400.css';
@import '@fontsource/raleway/700.css';

@import '@fontsource/lato/400.css';
@import '@fontsource/lato/700.css';

@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/700.css';

@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@import '@fontsource/merriweather/400.css';
@import '@fontsource/merriweather/700.css';

@import '@fontsource/lora/400.css';
@import '@fontsource/lora/700.css';

@import '@fontsource/oswald/400.css';
@import '@fontsource/oswald/700.css';

@import '@fontsource/nunito/400.css';
@import '@fontsource/nunito/700.css';

@import '@fontsource/space-grotesk/400.css';
@import '@fontsource/space-grotesk/700.css';

@import '@fontsource/space-mono/400.css';
@import '@fontsource/space-mono/700.css';

@import '@fontsource/dm-serif-display/400.css';

@import '@fontsource/dm-sans/400.css';
@import '@fontsource/dm-sans/700.css';

@import '@fontsource/crimson-text/400.css';
@import '@fontsource/crimson-text/700.css';

@import '@fontsource/work-sans/400.css';
@import '@fontsource/work-sans/700.css';

@import '@fontsource/abril-fatface/400.css';

@import '@fontsource/libre-baskerville/400.css';
@import '@fontsource/libre-baskerville/700.css';

@import '@fontsource/bebas-neue/400.css';

@import '@fontsource/mukta/400.css';
@import '@fontsource/mukta/700.css';

@import '@fontsource/cormorant-garamond/400.css';
@import '@fontsource/cormorant-garamond/700.css';

@import '@fontsource/proza-libre/400.css';
@import '@fontsource/proza-libre/700.css';

@import '@fontsource/josefin-sans/400.css';
@import '@fontsource/josefin-sans/700.css';

@import '@fontsource/spectral/400.css';
@import '@fontsource/spectral/700.css';

@import '@fontsource/karla/400.css';
@import '@fontsource/karla/700.css';

@import '@fontsource/libre-franklin/400.css';
@import '@fontsource/libre-franklin/700.css';

@import '@fontsource/archivo/400.css';
@import '@fontsource/archivo/700.css';

@import '@fontsource/yeseva-one/400.css';

@import '@fontsource/arvo/400.css';
@import '@fontsource/arvo/700.css';

@import '@fontsource/pt-sans/400.css';
@import '@fontsource/pt-sans/700.css';

@import '@fontsource/cabin/400.css';
@import '@fontsource/cabin/700.css';

@import '@fontsource/rubik/400.css';
@import '@fontsource/rubik/500.css';
@import '@fontsource/rubik/700.css';

@import '@fontsource/vollkorn/400.css';
@import '@fontsource/vollkorn/700.css';

@import '@fontsource/fjalla-one/400.css';

@import '@fontsource/noto-sans/400.css';
@import '@fontsource/noto-sans/700.css';

@import '@fontsource/bitter/400.css';
@import '@fontsource/bitter/700.css';

@import '@fontsource/cardo/400.css';
@import '@fontsource/cardo/700.css';

@import '@fontsource/mulish/400.css';
@import '@fontsource/mulish/700.css';

@import '@fontsource/fira-sans/400.css';
@import '@fontsource/fira-sans/700.css';

@import '@fontsource/outfit/400.css';
@import '@fontsource/outfit/700.css';

@import '@fontsource/manrope/400.css';
@import '@fontsource/manrope/700.css';

@import '@fontsource/sora/400.css';
@import '@fontsource/sora/700.css';

@import '@fontsource/plus-jakarta-sans/400.css';
@import '@fontsource/plus-jakarta-sans/700.css';
